/* mobile */

@media (min-width: 300px) {
  .container {
    font-family: Montserrat, sans-serif;
    font-size: 90%;
    font-weight: 300;
    color: rgb(0, 0, 0);
    align-content: center;
    background: linear-gradient(
      rgba(162, 252, 255, 0.35),
      rgba(0, 255, 210, 0.13)
    );
  }

  .menu-pagina {
    padding-left: 9px;
  }

  .mais-informacoes {
    font-size: 21px;
    border: 1px solid rgb(146 203 199);
    border-radius: 29px;
    box-shadow: rgb(2 68 63) 0px 0px 30px 4px;
    text-align: inherit;
    background-color: #92cbc7;
  }

  .projetos {
    padding: 0px;
  }

  .organizar-habilidades-caixa img {
    margin-top: 18%;
    width: 30%;
    height: 30%;
  }

  .habilidades-caixa {
    border-radius: 40px;
    padding: 20px;
    box-shadow: #02443f 0px 0px 30px 4px;
    border: 1px solid rgb(146 203 199);
    font-size: 67%;
    display: inline-flex;
  }

  .contato {
    font-size: 100%;
    border-radius: 30px;
    text-align: center;
    align-items: center;
    background-color: rgb(146, 203, 199);
    box-shadow: #02443f 0px 0px 30px 4px;
  }

  .caixa-projetos {
    border: 1pt solid #025852;
    text-align: -webkit-match-parent;
    color: #293651;
    border-radius: 20px 0px;
    padding: 10%;
    font-weight: bold;
    box-shadow: #02443f 0px 0px 30px 4px;
    margin-top: 10px;
  }

  .titulo-nome {
    font-size: 30px;
    color: #293651;
  }

  .descricao-profissional {
    font-size: 20px;
  }

  .descricao-funcao {
    font-size: 15px;
    line-height: 1.4;
  }

  .titulo-apresentacao {
    font-size: 24px;
    word-spacing: 3pt;
    margin-top: 5%;
  }
}
