/* mobile */

@media (min-width: 300px) {
  .container {
    font-family: Montserrat, sans-serif;
    font-size: 90%;
    font-weight: 300;
    color: #000000;
    align-content: center;
    background: linear-gradient(#a2fcff59, #00ffd221);
  }

  .menu-pagina {
    padding-left: 9px;
  }

  .mais-informacoes {
    font-size: 21px;
    border: 1px solid #92cbc7;
    border-radius: 29px;
    box-shadow: #02443f 0px 0px 30px 4px;
    text-align: inherit;
    background-color: #92cbc7;
  }

  .projetos {
    padding: 0px;
  }

  .organizar-habilidades-caixa img {
    margin-top: 18%;
    width: 30%;
    height: 30%;
  }

  .habilidades-caixa {
    border-radius: 40px;
    padding: 20px;
    box-shadow: #02443f 0px 0px 30px 4px;
    border: 1px solid #92cbc7;
    font-size: 67%;
    display: inline-flex;
  }

  .contato {
    font-size: 100%;
    border-radius: 30px;
    text-align: center;
    align-items: center;
    background-color: #92cbc7;
    box-shadow: #02443f 0px 0px 30px 4px;
  }

  .caixa-projetos {
    border: 1pt solid #025852;
    text-align: -webkit-match-parent;
    color: #293651;
    border-radius: 20px 0px;
    padding: 10%;
    font-weight: bold;
    box-shadow: #02443f 0px 0px 30px 4px;
    margin-top: 10px;
  }

  .titulo-nome {
    font-size: 30px;
    color: #293651;
  }

  .descricao-profissional {
    font-size: 20px;
  }

  .descricao-funcao {
    font-size: 15px;
    line-height: 1.4;
  }

  .titulo-apresentacao {
    font-size: 24px;
    word-spacing: 3pt;
    margin-top: 5%;
  }
}
