html {
  scroll-behavior: smooth;
}

.menu {
  border-bottom: 1px solid #76777733;
  font-size: 1.4rem;
  display: flex;
  flex-direction: row;
  justify-content: end;
  flex-wrap: wrap;
  row-gap: 1px;
  column-gap: 10px;
}

a {
  text-decoration: none;
  color: #000000;
}

.menu-pagina:hover {
  color: #20a78e;
}

.container {
  font-family: "Montserrat", sans-serif;
  color: #000000;
  background: linear-gradient(#a2fcff59, #00ffd221);
  height: 100%;
  padding: 15px 15px;
}

.titulo-apresentacao {
  font-size: 30px;
  word-spacing: 3pt;
  color: #20a78e;
  font-weight: lighter;
  text-align: left;
  line-height: 1;
  margin-top: 5%;
}

.titulo-nome {
  font-size: 30px;
  color: #293651;
}

.descricao-profissional {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  letter-spacing: 2pt;
  word-spacing: 1.1pt;
  line-height: 1;
  margin-top: 1%;
}

.descricao-funcao {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  letter-spacing: 1.2pt;
  word-spacing: -0.6pt;
  color: #646363;
  margin-top: 1%;
  font-weight: lighter;
  line-height: 1.4;
}

.botao-informacoes {
  background-color: #20a78e;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  border-radius: 3px;
  padding: 10px 25px;
  text-decoration: none;
}

.imagem-modelo {
  padding-left: 0%;
  padding-bottom: 0px;
  height: auto;
  position: relative;
  max-width: 300px;
}

.centralizar-img {
  text-align: center;
  margin-top: 50px;
}

.mais-informacoes {
  font-size: 21px;
  border: 1px solid #92cbc74d;
  border-radius: 29px;
  box-shadow: #02443fbd 0px 11px 20px 0px;
  text-align: inherit;
  background-color: #92cbc74d;
}
}

.mais-informacoes-p {
  margin: 5px;
}

.h3-geral {
  display: flex 1;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  font-size: 1.56em;
  margin-block-start: 2em;
  margin-block-end: 2em;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #27aa92;
}

.caixa-projetos {
  box-shadow: #02443f 0px 2px 20px 0px;
  height: 200px;
  width: 200px;
  border: 1pt #025852;
  text-align: end;
  color: #293651;
  border-radius: 20px 0;
  padding: 60px;
  border-width: 6pt;
  font-weight: bold;
}

.projetos {
  margin: auto;
  height: auto;
  padding: 0px;
}

.projetos-espacamento {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 30px;
}

.caixa-projetos:hover {
  background-color: #488a8b;
  color: #fff;
}

.caixa-projetos img {
  width: 20%;
  height: 20%;
}

.caixa-projetos:hover img {
  width: 20%;
  height: 20%;
  color: #fff;
}

.organizar-habilidades-caixa img {
  width: 30%;
  height: 30%;
}

.habilidades-caixa {
  display: flex;
  border-radius: 40px;
  padding: 10px;
  font-size: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 10px;
}

.progress-bar-1 {
  accent-color: #488a8b;
  margin-right: 25px;
}

.contato {
  font-size: 100%;
  border-radius: 30px;
  text-align: center;
  align-items: center;
}

.contato:hover {
  background-color: #488a8b;
  color: #fff;
}

.retornar-topo {
  display: flex;
  justify-content: flex-end;
  padding: 0 20px 0 0;
}
